body 
{
    background: linear-gradient(to bottom,  rgba(3,0,196,1) 0%,rgba(0,157,255,1) 50%,rgba(3,0,196,1) 100%);
}

html *
{
    font-family: "Red Hat Display";
}

.headers
{
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    position: relative;
    letter-spacing: 2px;
}

.buttonHome
{
    background-color: #FFFA9D;
    border: 2px solid #070032;
    color: #070032;
    padding: 15px;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 5px;
    font-weight: 500;
}

.buttonContainer
{
    width: 100%;
    height: 100%;
    text-align: center;
}

.viewBox
{
    width: 300px;
    height: 200px;
    background-color: #070032;
    position: relative;
    left: 10px;
    top: 0px;
    border-radius: 5px;
}



.detailsData
{
    position: relative;
    font-size: 18px;
    background-color: aliceblue;
    border-radius: 5px;


    padding-left: 8px;
}

/*personal calendar*/

.container {
    display: inline-block;
    position: relative;
    width: 400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.td{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.calendar{
    
    width: 100%;
    background-color: #082b775c;
    padding: 10 px;
}

.card{
    display: inline-block;
    background-color: #070032;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
}

.card-header{
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    font-family : Arial;
    padding-left: 133px;
    padding-right: 133px;
}

.arrow {
    background-color: #FFFA9D;
    border: solid #070032;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .weekDays
  {
      color: aliceblue;
      font-size: 12px;
      padding: 13px;
      text-align: center;
  }

  .events
  {
      background-color: aliceblue;
      width: 370px;
      height: 300px;
      position: relative;
      border-radius: 5px;
      padding-left: 10px;
      overflow-y:scroll;
  }

  .nameButton
  {
      background-color: transparent;
      font-size: 18px;
      max-width: 285px;
      word-wrap: break-word;
      font-weight: bold;
      border-color: transparent;
  }
  
  .eventData
  {
      position: relative;
      font-size: 18px;
      border-radius: 5px;
      padding: 15px;
      width: 330px;
      font-weight: bold;
  }
  
  .xEvent
  {
      background-color: Transparent;
      font-size: 18px;
      font-weight: bold;
      float: right;
      border: 0px;
      width:auto;
  }

