@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.container {
    display: inline-block;
    border : 2px solid #000000;
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    box-shadow:0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.td{
    padding : 5px;
    color:#fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.calendar{
    
    width: 100%;
    padding: px;
}

.card{
    display: inline-block;
    border : 1px solid #000000;
    width: 100%;
    padding: 20px;
}

.card-header{
    padding : 60px;
    text-align : center;
    font-family : Arial;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }